<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 

    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_entreprise_index")}}">Entreprise</a>
    {# <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_entree_index")}}">Gestion des Entrées</a> #}
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_plat_index")}}">Gestion des Plats</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_boisson_index")}}">Gestion des Boissons</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_cocktail_index")}}">Gestion des Cocktails</a>
    {# <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_dessert_index")}}">Gestion des Desserts</a> #}
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_chicha_index")}}">Gestion des Chichas</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_nhema_admin_ingredient_index")}}">Gestion des ingredients</a>
</div>