{% extends 'base.html.twig' %}

{% block title %}TypePlat index{% endblock %}

{% block body %}
    <h1>TypePlat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_plat in type_plats %}
            <tr>
                <td>{{ type_plat.id }}</td>
                <td>{{ type_plat.nom }}</td>
                <td>
                    <a href="{{ path('app_nhema_admin_type_plat_show', {'id': type_plat.id}) }}">show</a>
                    <a href="{{ path('app_nhema_admin_type_plat_edit', {'id': type_plat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nhema_admin_type_plat_new') }}">Create new</a>
{% endblock %}
