{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="choix_salle" value="{{choix_salle}}">
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
