{{ form_errors(form) }}
{{ form_start(form) }}
    <div class="row mb-1"> 
        <div class="col-sm-12 col-md-4">
            {{ form_row(form.nom) }}
        </div>        
    </div>
    <div class="row mb-1"> 
        <div class="col-sm-12 col-md-4">
            {{ form_row(form.image) }}
        </div>        
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
